<header>
  <nav class="header-nav">
    <a class="header-title" href="http://localhost:3000/">Awesome Shop</a>
    <ul>
      <li><a href="/products">products</a></li>
      <li><a href="/products/new">Add product</a></li>
      <li><a href="#">User</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Purchase Order</a></li>
    </ul>
  </nav>
</header>