<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page2</title>
    <link href="css/style-page2.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-1">
        <img src="/images/Background.png" style="width:100%;">
        <div class="top-left">
            <span id="c1-text01">Awesome</span><span id="c1-text02">Shop</span>
        </div>

        <div class="top-right1">
            <span>&#63</span>
        </div>
        <div class="top-right2">
            <span>Need Help</span>
        </div>
        <div class="top-right3">
            <span>Join</span>
        </div>

        <div class="center-1">
            <p>Shop your designer dresses</p>
        </div>
        <div class="center-2">
            <span>Read to wear dereses tailored for you from online. Hurry up while stock lasts</span>
           </div>

        <div >
                <input id="c1-search-box" type="text"placeholder="&#128269; Search your products from here" class="center-3" />                
        </div>
    </div>
    <div class="container-2">
        <div class="box-1">
            <div class="column-A">
                <p id="c2-article">Coupon Savings</p>
                <p >up to 60% off everyday essential</p>
                <br>
                <input id="c2-button-style" type="button" value="Shop Coupons">
            </div>
            <div class="column-B">
                <img src="/images/icons8-coupon-100.png" width="100%">              
            </div>
        </div>
        <div class="box-2">
            <div class="column-A">
                <p id="c2-article">Free Delivery</p>
                <p>With affected items</p>
                <br>
                <input id="c2-button-style" type="button" value="Deliver Now">
            </div>
            <div class="column-B">
                 <img src="/images/checked-truck.png" width="90%" >
            </div>
        </div>  
        <div class="box-3">
            <div class="column-A">
                <p id="c2-article">Gift Voucher</p>
                <p>With Personal care items</p>
                <br>
                <input id="c2-button-style"  type="button" Value="Gift Now">
            </div>
            <div class="column-B">
                <img src="/images/gift--v1.png" width="120%">
            </div>
        </div>
    </div>
    <!--container-3-->
    <div class="container-3">
            <div class="c3-column-left">
                <div class=c3-button>
                    <img style='vertical-align:middle;' src='/images/icon_laptop.png' width=18%>
                    <div style='vertical-align:middle; display:inline;'>
                    <span>Eletronics</span>
                    </div>
                </div>            
                <div class=c3-button>
                    <img style='vertical-align:middle;' src='/images/icon_bag-front-view.png' width=18%>
                    <div style='vertical-align:middle; display:inline;'>
                    <span>Hand bags</span>
                    </div>
                </div>
                <div class=c3-button>
                    <img style='vertical-align:middle;' src='/images/icon_wallet.png' width=18%>
                    <div style='vertical-align:middle; display:inline;'>
                    <span>Wallet</span>
                    </div>
                </div> 
                <div class=c3-button>
                    <img style='vertical-align:middle;' src='/images/icon_clothes.png' width=18%>
                    <div style='vertical-align:middle; display:inline;'>
                    <span>Clothes</span>
                    </div>
                </div>
            </div>
        <div class="c3-right">
            <div class="c3-right-top1" >
                <div class="c3r-l1">
                    <div class=c3-poster-discount><span>20%</span></div>
                    
                    <center>
                        <img src="/images/clothes (1).png" width="50%">
                    </center>
                    <div class="c3r-r1-preview">
                        
                        <img src="/images/clothes (1).png" alt="" width= 20% class="shirt-preview">
                        <img src="/images/clothes (1).png" alt="" width= 20% class="shirt-preview">
                        <img src="/images/clothes (1).png" alt="" width= 20% class="shirt-preview">

                    </div>
                </div>
                <hr>
                <div class="c3r-r1">
                    <div class=c3-poster-bottom-1>$15</div>
                    <div class=c3-poster-bottom-2><span>$12</span></div>
                    <h3>White T-shirt - Nike</h3>
                    <p>Nike Womens Pink Half Zip Lightweight Hooded Shirt Top Athletic Stretch Size M</p>
                    <div class=c3-button-cart>                       
                            <center>
                                <img src="/images/shopping-cart-of-checkered-design.png" width=28%><span>Cart</span>
                            </center>
                        </div>
                    <div class="c3-male-Tshirt">
                        
                            <span>Male T-shirt</span>                
                    </div>
                    <div class="c3-single-color">
                        
                        <span>Single Color</span>             
                </div>
                                     
                </div>
            </div>
            <!--Comment Section-->
            <div class="CommentSection">
                <h2>Comments</h2>
                <div class="comment-block">
                    <img style='vertical-align:middle;' src='/images/iconfinder_icons_user2_1564535 (2).png' width=5%>
                    <div style='vertical-align:middle; display:inline-block;'>
                    <span class="heading">Anonymous</span><br>
                    <span class="date">Today 4:21pm - 12.06.2020</span>
                    </div>
    
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus necessitatibus cumque sint quasi cupiditate ea. Iusto itaque velit eligendi autem est molestiae, ipsum enim asperiores obcaecati sint necessitatibus eius beatae.
                    </p>        
                </div>
                <div class="comment-block">
                    <img style='vertical-align:middle;' src='/images/iconfinder_icons_user2_1564535 (2).png' width=5%>
                    <div style='vertical-align:middle; display:inline-block;'>
                    <span class="heading">Anonymous</span><br>
                    <span class="date">Today 4:21pm - 12.06.2020</span>
                    </div>
    
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus necessitatibus cumque sint quasi cupiditate ea. Iusto itaque velit eligendi autem est molestiae, ipsum enim asperiores obcaecati sint necessitatibus eius beatae.
                    </p>
                                         
                </div>

                <fieldset>
                    
                    <legend>Write your review here</legend>
                    <form id="area">
                    
                    <textarea name="Review" id="area" cols="100%" rows="10">

                    </textarea>
                    
                    </form>
    
                </fieldset>
                    <button class="send">
                        <img style='vertical-align:middle;' src='/images/send-arrow-left@3x.png' width=25%>
                        <div style='vertical-align:middle; display:inline-block;'>
                        <span>Send</span>
                    </button>

                    <button class="discard">
                        <img style='vertical-align:middle;' src='/images/cross-sign.png' width=25%>
                        <div style='vertical-align:middle; display:inline-block;'>
                            <Span>Discard</Span>

                    </button>
            </div>

        </div>
    </div>
</body>
</html>