<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Andika&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-1">
        <img src="/images/Background.png" style="width:100%;">
        <div class="top-left">
            <a href="http://localhost:3000/"><span id="c1-text01">Awesome</span><span id="c1-text02">Shop</span></a>
        </div>
        <div class="top-right1">
            <span>&#63</span>
        </div>
        <div class="top-right2">
            <span>Need Help</span>
        </div>
        <div class="top-right3">
            <span>Join</span>
        </div>
        <div class="center-1">
            <p>Shop your designer dresses</p>
        </div>
        <div class="center-2">
            <span>Read to wear dereses tailored for you from online. Hurry up while stock lasts</span>
           </div>

        <div >
                <input id="c1-search-box" type="text"placeholder="&#128269; Search your products from here" class="center-3" />
                
        </div>
    </div>

    <div class="container-2">
        <div class="box-1">
            <div class="c2-column-left">
                <p id="c2-article">Coupon Savings</p>
                <p>up to 60% off everyday essential</p>
                <br>
                <input id="c2-button-style" type="button" value="Shop Coupons">

            </div>
            <div class="c2-column-right">
                <img src="/images/icons8-coupon-100.png" width="100%">
            </div>
        </div>
        <div class="box-2">
            <div class="c2-column-left">
                <p id="c2-article">Free Delivery</p>
                <p>With affected items</p>
                <br>
                <input id="c2-button-style" type="button" value="Deliver Now">
            </div>
            <div class="c2-column-right">
                 <img src="/images/checked-truck.png" width="90%" >
            </div>
        </div>
    
        <div class="box-3">
            <div class="c2-column-left">
                <p id="c2-article">Gift Voucher</p>
                <p>With Personal care items</p>
                <br>
                <input id="c2-button-style"  type="button" Value="Gift Now">
            </div>
            <div class="c2-column-right">
                <img src="/images/gift--v1.png" width="120%">
            </div>
        </div>
    </div>
    <!-- Container 3-->
    <div class=container-3>
        <div class="c3-column-left">
            <div class=c3-button>
                <img style='vertical-align:middle;' src='/images/icon_laptop.png' width=50%>
                <div style='vertical-align:middle; display:inline;'>
                <span>Eletronics</span>
                </div>
            </div>            
            <div class=c3-button>
                <img style='vertical-align:middle;' src='/images/icon_bag-front-view.png' width=50%>
                <div style='vertical-align:middle; display:inline;'>
                <span>Hand bags</span>
                </div>
            </div>
            <div class=c3-button>
                <img style='vertical-align:middle;' src='/images/icon_wallet.png' width=50%>
                <div style='vertical-align:middle; display:inline;'>
                <span>Wallet</span>
                </div>
            </div>

            <a href="http://localhost:3000/page2" target="_blank">

            <div class=c3-button>
                <img style='vertical-align:middle;' src='/images/icon_clothes.png' width=50%>
                <div style='vertical-align:middle; display:inline;'>
                <span>Clothes</span>
                </div>
            </div>

            </a>


        </div>
        <!-- left container of box 3-->
        <div class="c3-column-riht">
            <!--Top box-->
            <div class="flex-container">
                <div class=T-shirt>
                    <center>
                        <img src="/images/clothes (1).png" width=100%>
                    </center>
                    <p>Nike Womens Pink Holf Zip Lightweight Hooded Shirt Top Athlteic Stretch Size M</p>
                    <br>
                    <br>
                    <br>
                    <div class=c3-poster-discount><span>20%</span></div>
                    <div class=c3-poster-bottom-1>$15</div>
                    <div class=c3-poster-bottom-2><span>$12</span></div>
                    <div class=c3-button-cart>
                        <a href="http://localhost:3000/page2" target="_blank">
                        <center>
                            <img src="/images/shopping-cart-of-checkered-design.png" width=28%><span>Cart</span>
                        </center>
                        </a>
                    </div>
                </div>
                <div class=T-shirt>
                    <center>
                        <img src="/images/clothes (1).png" width=100%>
                    </center>
                    <p>Nike Womens Pink Holf Zip Lightweight Hooded Shirt Top Athlteic Stretch Size M</p>
                    <br>
                    <br>
                    <br>
                    <div class=c3-poster-discount><span>20%</span></div>
                    <div class=c3-poster-bottom-1>$15</div>
                    <div class=c3-poster-bottom-2><span>$12</span></div>
                    <div class=c3-button-cart>
                    <a href="http://localhost:3000/page2" target="_blank">
                        
                        <center>
                            <img src="/images/shopping-cart-of-checkered-design.png" width=28%><span>Cart</span>
                        </center>
                    </a>
                    </div>
                    
                    
                </div>
                <div class=T-shirt>
                    <center>
                        <img src="/images/clothes (1).png" width=100%>
                    </center>
                    <p>Nike Womens Pink Holf Zip Lightweight Hooded Shirt Top Athlteic Stretch Size M</p>
                    <br>
                    <br>
                    <br>

                    <div class=c3-poster-discount><span>20%</span></div>
                    <div class=c3-poster-bottom-1>$15</div>
                    <div class=c3-poster-bottom-2><span>$12</span></div>
                    <div class=c3-button-cart>
                    <a href="http://localhost:3000/page2" target="_blank">
                        <center>
                            <img src="/images/shopping-cart-of-checkered-design.png" width=28%><span>Cart</span>
                        </center>
                    </a>
                    </div>

                
                </div>  
              </div>
            <!--Bottom Box-->
              <div class="flex-container">
                <div class=T-shirt>
                    <center>
                        <img src="/images/clothes (1).png" width=100%>
                    </center>
                    <p>Nike Womens Pink Holf Zip Lightweight Hooded Shirt Top Athlteic Stretch Size M</p>
                    <br>
                    <br>
                    <br>
                    <div class=c3-poster-discount><span>20%</span></div>
                    <div class=c3-poster-bottom-1>$15</div>
                    <div class=c3-poster-bottom-2><span>$12</span></div>
                    <div class=c3-button-cart>
                    <a href="http://localhost:3000/page2" target="_blank">    
                        <center>
                            <img src="/images/shopping-cart-of-checkered-design.png" width=28%><span>Cart</span>
                        </center>
                    </a>
                    </div>

                </div>
                <div class=T-shirt>
                    <center>
                        <img src="/images/clothes (1).png" width=100%>
                    </center>
                    <p>Nike Womens Pink Holf Zip Lightweight Hooded Shirt Top Athlteic Stretch Size M</p>
                    <br>
                    <br>
                    <br>
                    <div class=c3-poster-discount><span>20%</span></div>
                    <div class=c3-poster-bottom-1>$15</div>
                    <div class=c3-poster-bottom-2><span>$12</span></div>
                    <div class=c3-button-cart>
                    <a href="http://localhost:3000/page2" target="_blank">    
                        <center>
                            <img src="/images//shopping-cart-of-checkered-design.png" width=28%><span>Cart</span>
                        </center>
                    </a>
                    </div>

                </div>
                <div class=T-shirt>
                    <center>
                        <img src="/images/clothes (1).png" width=100%>
                    </center>
                    <p>Nike Womens Pink Holf Zip Lightweight Hooded Shirt Top Athlteic Stretch Size M</p>
                    <br>
                    <br>
                    <br>
                    <div class=c3-poster-discount><span>20%</span></div>
                    <div class=c3-poster-bottom-1>$15</div>
                    <div class=c3-poster-bottom-2><span>$12</span></div>
                    <div class=c3-button-cart>
                    <a href="http://localhost:3000/page2" target="_blank">
                        <center>
                            <img src="/images/shopping-cart-of-checkered-design.png" width=28%><span>Cart</span>
                        </center>
                    </a>
                    </div>

                </div>  
              </div>

        </div>



    </div>

   
    
</body>
</html>